:root {
    --palette-one: #985F99;
    --palette-two: #9684A1;
    --palette-three: #AAACB0;
    --palette-four: #B6C9BB;
    --palette-five: #069E2D;
    --palette-purple: #6A0136;
    --palette-gold: #BFAB25;
    --good-uv: green;
    --warning-uv: rgb(214, 214, 2);
    --bad-uv: rgb(243, 32, 32);
}

* {
margin: 0px;
padding: 0px;
}

body {
     background-color: lightgray;
}

h1 {
    background-color: rgb(172, 89, 89);
    color: whitesmoke;
    font-family: system-ui;
    text-align: center;
    padding: 10px;
}
h3 {
    margin: 45px 0 20px 0;
    font-size: 20px;
}
h4 {
    text-align: center;
    font-size: 18px;

}

hr {
    color: black;
}

.goodUV{
    background-color: var(--good-uv);
}

.warningUV {
    background-color: var(--warning-uv);
}

.badUV {
    background-color: var(--bad-uv);
}

#main-results-container h2 {
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 50px;
}
#five-day-container h2 {
    text-align: center;
}

#hr {
    margin-top: 100px;
}
#city-search-container {
    font-family: system-ui;
    background-color: rgb(241, 169, 141);
}
#searchObject {
    width: 332px;
    margin: 10px 0 0px 0;
    padding: 7px;
}
#searchButton {
    width: 350px;
    margin: 10px 0 10px 0;
    padding: 7px;
    background-color: rgb(172, 89, 89);
    color: whitesmoke;
}
.left-side {
    position: relative;
    width: 350px;
    padding: 15px;
    height: 100vh;
}

.fix-me {
    background-color: orange;
}

#right-side {
    font-family: monospace;

    position: absolute;
    left: 400px;
    top: 80px;
}

#main-results-container {
    background-color: whitesmoke;
    padding: 15px;
    height: 350px;
    width: 1040px;
    border: solid 5px rgb(172, 89, 89);
    border-radius: 15px;
}

.five-days {
    background-color: whitesmoke;
    color: black;
    padding: 15px;
    width: 150px;
    height: 160px;
    margin: 10px;
    display: inline-block;
    border: solid 5px  rgb(172, 89, 89);
    border-radius: 15px;
}

.contents {
    padding: 5px 0px 5px 0px;
}

.previous {
    list-style-type: none;
    padding: 10px;
    margin: 20px 0 5px 10px;
    background-color:  rgb(172, 89, 89);
    color: white;
    border-radius: 15px;
    border: solid 3px;
    width: 300px;
}